/* _content/BlazorJWT.Core/LoginCallback.razor.rz.scp.css */
.my-component[b-x5g8kz3mdr] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/BlazorJWT.Core/LogoutCallback.razor.rz.scp.css */
.my-component[b-st85hluxao] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
